:root {
    /*Colors*/
    --ColorViolet: hsl(257, 40%, 49%);
    --ColorSoftMagenta: hsl(300, 69%, 71%);
    /*Fonts*/
    --fontHeadings: 'Open Sans', sans-serif;
    --fontBody: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--ColorViolet);
    padding: 10%;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;

    font-family: var(--fontBody);
    font-weight: 400;

    width: 80%;
    height: 80%;
}

header {
    height: 5.5rem;
}

header img{
    width: 45%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content-images img {
    width: 100%;
}

.main-content-text {
    margin-top: 10%;

    color: white;
    text-align: center;
}

.main-content-text h1 {
    font-family: var(--fontHeadings);
    font-weight: 600;
}

.main-content-text button {
    color: var(--ColorViolet);
    border: 0;
    width: 70%;
    padding: 0.8rem;
    border-radius: 2rem;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.651);
}

.main-content-text button:hover {
    background-color: var(--ColorSoftMagenta);
    color: white;
}

.main-icons {
    margin-top: 3rem;

    width: 50%;
    display: flex;
    justify-content: space-around;
}

.main-icons-icon svg {
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.4rem;

    width: 1.1rem;
    fill: white;
}

.main-icons-icon svg:hover {
    fill: var(--ColorSoftMagenta);
    border-color: var(--ColorSoftMagenta);
}

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 10px; 
    text-align: center;
}
.attribution a { 
    color: hsl(257, 66%, 89%);
}

@media only screen and (min-width: 600px) {

    body {
        background-image: url("../images/bg-desktop.svg");
        padding: 3% 5%;
        width: 90%;
        height: 89%;
    }

    header {
        height: 9.5rem;
        width: 100%;
    }
    
    header img{
        width: 20%;
    }

    .main-content {
        flex-direction: row;
        width: 100%;
    }

    .main-content-images {
        width: 55%;
    }
    
    .main-content-images img {
        width: 100%;
    }

    .main-content-text {
        text-align: start;
        width: 35%;

        padding: 2% 5%;
        padding-right: 0;
        margin-top: 0;
    }

    .main-content-text h1 {
        font-size: 32px;
    }

    .main-content-text button {
        width: 45%;
        padding: 1rem;

        font-size: 16px;
    }

    .main-icons {
        margin-top: 2rem;
        justify-content: right;
        width: 100%;
    }

    .main-icons-icon {
        margin-right: 1.1rem;
    }
}